/* this is my custom CSS */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
* {
	margin: 0;
	padding: 0;
	outline: none !important;
	font-family: 'Nunito', sans-serif;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Nunito', sans-serif;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
body, html {
	font-family: 'Nunito', sans-serif;
	line-height: 1;
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, center {
	display: block;
}
nav ul, ul {
	list-style-type: none;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select, textarea, button {
	vertical-align: middle;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-radius {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
}
.no-border {
	border: none !important;
}
/***************************** Default CSS Ends Here *****************************/
.cd-section {
	min-height: 100%;
	position: relative;
}
@media only screen and (min-width: 768px) {
.cd-section h1 {
	font-size: 30px;
	font-size: 1.875rem;
}
.cd-section p {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 2;
}
}
/* No Touch devices */
.cd-nav-trigger {
	display: none;
}
.no-touch #cd-vertical-nav {
	position: fixed;
	right: 40px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
.no-touch #cd-vertical-nav li {
	text-align: right;
}
.no-touch #cd-vertical-nav a {
	display: inline-block;
	/* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
	content: "";
	display: table;
	clear: both;
}
.no-touch #cd-vertical-nav a span {
	float: right;
	display: inline-block;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
	opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
	background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
	position: relative;
	/* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
	top: 8px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #999;
	-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
	-moz-transition: -moz-transform 0.2s, background-color 0.5s;
	transition: transform 0.2s, background-color 0.5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
	position: relative;
	margin-right: 10px;
	padding: .4em .5em;
	color: white;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	opacity: 0;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
/* Touch devices */
.touch .cd-nav-trigger {
	display: block;
	z-index: 2;
	position: fixed;
	bottom: 30px;
	right: 5%;
	height: 44px;
	width: 44px;
	border-radius: 0.25em;
	background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: #3e3947;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: inherit;
	border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
	top: -9px;
}
.touch .cd-nav-trigger span::after {
	bottom: -9px;
}
.touch #cd-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	-o-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border-radius: 0.25em;
	background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
	display: block;
	padding: 1em;
	border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
	display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
	color: #d88683;
}
.touch #cd-vertical-nav.open {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
	background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
	background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
	background-color: #3e3947;
	height: 3px;
	width: 20px;
	border-radius: 0;
	left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
	border-bottom: none;
}
 @media only screen and (min-width: 768px) {
.touch .cd-nav-trigger, .touch #cd-vertical-nav {
	bottom: 40px;
}
}
/************************Sticky / Fixed Navigation CSS Ends Here************************/
.no-video #section1 .poster, .touch #section1 .poster {
	display: block !important;
}
#section1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	max-width: 100% !important;
}
.no-video #section1 video, .touch #section1 video {
	display: none;
}
.no-video #section1 .poster, .touch #section1 .poster {
	display: block !important;
}
#section1 video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
.logo {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 125px;
	margin: 0 auto;
	display: block;
	width: 250px;
}
.logo .arrs {
	display: none;
	margin: 0 auto;
	color: #FFF;
	font-size: 25px;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 26px;
}
.logo:hover .arrs {
	display: inline-block;
	-webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
/**********************Video Section CSS Ends Here************************/
#section2 {
	background: url(../images/about.png) no-repeat center top;
	background-size: cover;
	position: relative;
	padding: 50px 0;
	opacity: 1;
}
.blurs {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.7;
}
.container {
	position: relative;
}
#section2 h2 {
	background-color: rgba(0, 0, 0, 0.8);
	color: #23d952;
	font-size: 45px;
	padding: 10px;
	margin-top: 50px;
	text-transform: uppercase;
}
#section2 p {
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	display: inline;
	font-size: 22px;
	padding: 2px 10px;
	line-height: 45px;
	position: relative;
}
/***************************About Us Section CSS Ends Here*********************/
#section3 {
	position: relative;
	display: block;
	background-color: #ffc809;
	padding: 60px 0;
}
#section3 h2 {
	font-size: 40px;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
}
#section3 em {
	height: 2px;
	display: inline-block;
	width: 60px;
	background-color: #333;
	margin-top: 15px;
}
#section3 a {
	position: relative;
	display: block;
	overflow: hidden;
}
#section3 a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#section3 a img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#section3 a.oo, #section3 a.tt {
	overflow: visible;
}
/************************Video Section CSS Ends Here*********************/
#section4 {
	background-size: cover;
	position: relative;
}
#section4 h2 {
	font-size: 50px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}
.boxes {
	position: relative;
	display: block;
}
/********************Upcoming Shows Section CSS Ends Here*****************/
#section5 {
	padding: 70px 0;
	background-color: #ffc809;
}
.bcrumbs {
	display: block;
}
.bcrumbs li {
	display: inline-block;
	padding: 0 5px;
	color: #333;
	font-size: 18px;
}
.bcrumbs li a {
	font-weight: bold;
	color: #333;
}
.bcrumbs li a:hover, .bcrumbs li a:active, .bcrumbs li a:focus, .bcrumbs li.active a {
	color: #FFF;
	text-decoration: none;
}
#section5 h2 {
	font-size: 50px;
	color: #333;
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.sc-sec {
	display: block;
}
.sc-sec a {
	margin: 50px 20px;
}
.rep-sec {
	font-size: 15px;
	display: block;
	position: relative;
}
.rep-sec img {
	padding-bottom: 10px;
}
.rep-sec a {
	font-size: 17px;
	color: #C63;
}
.contact-sec, .rep-sec {
	display: none;
}
.contact-sec .form input {
	height: 40px;
	margin-bottom: 15px;
}
.contact-sec .form textarea {
	margin-bottom: 15px;
	resize: none;
}
.live_show {
	position: relative;
	display: block;
	padding: 30px 0;
	background-color: #f4c111;
}
.live_show h3 {
	font-size: 25px;
	padding-top: 15px;
}
.live_show input, .live_show button {
	width: 100% !important;
	margin: 5px 0;
}
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #FFC809;
	z-index: 100;
}
.se-pre-con center {
	margin-top: 9%;
}
.loading, .loading::before, .loading::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-left-color: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}
.loading {
	margin: -25px 0 0 -25px;
	height: 50px;
	width: 50px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}
.loading::before {
	content: "";
	margin: -23px 0 0 -23px;
	height: 44px;
	width: 44px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}
.loading::after {
	content: "";
	margin: -29px 0 0 -29px;
	height: 56px;
	width: 56px;
	-webkit-animation: animation-rotate 2000ms linear infinite;
	-moz-animation: animation-rotate 2000ms linear infinite;
	-o-animation: animation-rotate 2000ms linear infinite;
	animation: animation-rotate 2000ms linear infinite;
}
 @-webkit-keyframes animation-rotate {
 100% {
 -webkit-transform: rotate(360deg);
}
}
 @-moz-keyframes animation-rotate {
 100% {
 -moz-transform: rotate(360deg);
}
}
 @-o-keyframes animation-rotate {
 100% {
 -o-transform: rotate(360deg);
}
}
 @keyframes animation-rotate {
 100% {
 transform: rotate(360deg);
}
}
.hvr-icon-hang::before {
	right: auto !important;
}
#one {
	background: url(../images/upcoming.png) no-repeat center top;
	width: 100%;
	background-size: cover;
	padding: 70px 0;
	min-height: 650px;
}
#two {
	background: url(../images/upcoming2.png) no-repeat center top;
	width: 100%;
	background-size: cover;
	height: 100%;
	padding: 70px 0;
	min-height: 650px;
}
#three {
	background: url(../images/upcoming3.png) no-repeat center top;
	width: 100%;
	background-size: cover;
	padding: 70px 0;
	min-height: 650px;
}
#four {
	background: url(../images/upcoming4.png) no-repeat center top;
	width: 100%;
	background-size: cover;
	padding: 70px 0;
	min-height: 650px;
}
.downer {
	display: inline-block;
	margin: 0 auto;
	color: #FFF;
	bottom: 0;
	position: absolute;
	bottom: 100px;
}
.downer a.oo {
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	font-size: 30px;
	display: inline-block;
}
.downer a.oo:hover, .downer a.oo:active, .downer a.oo:focus {
	text-decoration: none;
}
.downer a.tt {
	width: 26px;
	font-size: 25px;
	color: #FFF;
	padding: 0;
	right: auto;
	margin-left: -20px;
	position: absolute;
}
.hvr-icon-hang::before {
	padding: 0 !important;
	right: auto !important;
}
.downer:hover a.tt {
	-webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
.lsss {
	position: absolute;
	bottom: 70px;
	margin-left: -60px;
}
.p-change {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
}
.sbt {
	position: absolute;
	display: block;
	bottom: 180px;
}
.fade-into-view {
	/* Transition */
	-webkit-transition: all 0.85s;
	-moz-transition: all 0.85s;
	-o-transition: all 0.85s;
	transition: all 0.85s;
}
.fade-into-view.fade-out-blur {
	/* Blur filter */
	filter: blur(4px);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: url("svg/blur.svg#blur-3");
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.fade-into-view.fade-in-blur {
	/* Blur filter */
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: url("svg/blur.svg#blur-0");
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.carousel .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel .carousel-inner .item, .carousel .carousel-inner .active.left, .carousel .carousel-inner .active.right {
	opacity: 0;
}
.carousel .carousel-inner .active, .carousel .carousel-inner .next.left, .carousel .carousel-inner .prev.right {
	opacity: 1;
}
.carousel .carousel-inner .next, .carousel .carousel-inner .prev, .carousel .carousel-inner .active.left, .carousel .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel, .carousel-inner, .carousel .carousel-inner .item {
	height: 100vh;
}
