@import "reset.scss";
@import "video-modal.scss";

body {
  color: #fff;
}

section {
  width: 100%;
  max-width: 1080px;
  margin: 40px auto 0;

  @media screen and (min-width: 768px) {
    margin: 80px auto 0;
  }
}

.noscroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0;
  position: relative;
  background: #000;
  height: 42px;
  position: sticky;
  top: 0;
  z-index: 100;

  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px auto;
    background: #000;
  }
}

.navigation {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 0.6s ease;

  @media screen and (min-width: 769px) {
    background: transparent;
    align-items: center;
    flex-direction: row;
    max-width: 450px;
    transform: none;
    transition: none;
  }
}

.expanded {
  transform: translateX(0);
}

.navlink {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    color: #A1C6EA;
  }
}

.navlink {
  transition: opacity 0.6s ease-out;
  opacity: 0;
  overflow: hidden;
  padding: 8px 0 8px 20px;

  @media screen and (min-width: 769px) {
    opacity: 1;
    padding: 0;
  }
}

.expanded {
  padding-top: 50px;

  @media screen and (min-width: 769px) {
    padding: 0;
  }
}

.expanded .navlink {
  transition: opacity 0.6s ease-in;
  opacity: 1;
}

.social-media {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  @media screen and (min-width: 769px) {
    position: static;
    width: 100%;
    max-width: 200px;
  }
}

.social-icons {
  fill: #fff;
  width: 20px;
}

.hero-section {
  margin-top: 0;

  @media screen and (min-width: 768px) {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
  }
}

.peet-image {
  opacity: 1;
  background-image: url(../../production/images/peethero_v2.png);
  background-repeat: no-repeat;
  background-size: 50%;
  height: 110vw;
  width: 100vw;
  background-position: center bottom;
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    background-image: url(../../production/images/peethero.png);
    background-position: center right 20%;
    width: 738px;
    height: 760px;
  }
}

.peet-logo {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 110px;
    left: 80px;
    max-width: 285px;
  }
}

.ham {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;

  @media screen and (min-width: 769px) {
    display: none;
  }
}

.hamRotate.active {
  transform: rotate(45deg);
  z-index: 100;
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.subhead {
  image-rendering: pixelated;
  margin: 20px auto;
  height: 60px;
}

.h3-headline {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  line-height: 23px;

  @media screen and (min-width: 619px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.merch-image {
  margin: 20px auto;
  width: 100%;
  padding: 0 10px;

  @media screen and (min-width: 619px) {
    width: auto;
    max-width: 1120px;
  }
}

.white-anchor {
  color: #fff;
  margin: 5px auto 0;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;


  &:hover {
    color: #A1C6EA;
  }

  @media screen and (min-width: 619px) {
    font-size: 16px;
  }
}

.video-flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.video-anchor {
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 619px) {
    flex-grow: 1;
    flex-basis: 293px;
    max-width: 514px;
    padding: 10px;
  }

  @media screen and (min-width: 877px) {
    flex-basis: 430px;
  }

  @media screen and (min-width: 1023px) {
    padding: 0;
  }
}

.video-banner-img {
  transition: transform .5s ease;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;

  &:hover {
    transform: scale(1.1);
  }
}

.playbutton {
  background-image: url(../../production/images/play-button.svg);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  z-index: 10;
}

.contact-section {
  margin: 80px auto;
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 619px) {
    width: 520px;
  }
}

.contact-item {
  padding: 10px 0;
}

.vertical-bar {
  background-image: url(../../production/images/verticalbarskinny.png);
  background-repeat: repeat-y;
  width: 10px;
  background-size: cover;
  background-position: center;
}

.footer {
  padding: 0 20px;
}

.footer-text {
  font-size: 12px;
}

#events-upcoming {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;

  li {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: 769px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.date {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  font-size: 39px;
  font-style: italic;
  font-weight: 500;
  width: 100%;
  line-height: normal;

  @media screen and (min-width: 769px) {
    max-width: 200px;
  }
}

.event-date {
  @media screen and (min-width: 769px) {
    margin: 0 10px 0 auto;
    text-align: right;
  }
}

.event-info {
  width: 100%;

  @media screen and (min-width: 769px) {
    text-align: right;
    margin: 0 auto 0 60px;
    max-width: 400px;
  }
}

.location {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.summary {
  font-size: 27px;
  font-weight: 500;
  margin-right: 130px;
  line-height: normal;
  @media screen and (min-width: 769px) {
   margin-right: 0;
  }
}

.tickets {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-style: italic;
  transition: all 0.3s;
  font-size: 27px;
  position: absolute;
  right: 24px;
  top: 50%;

  @media screen and (min-width: 769px) {
    position: static;
  }

  &:hover {
    color: #A1C6EA;
  }
}

.styled-section {
  padding: 0 20px;
  position: relative;

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.close-btn {
  position: absolute;
  right: 25px;
  top: 0;
  z-index: 99;
  width: 23px;
  height: 23px;
  transition: none;
  display: inline-block;
  overflow: hidden;
  background: url(../../production/images/xbox.png) no-repeat top center;
  background-size: cover;
}

.merch-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.merch-item {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.links-retro {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #e400ff, #00ffea);
  color: #fafafa;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  height: 45px;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 5px;
  align-items: center;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;

  @media screen and (min-width: 700px) {
    margin: 20px 0 0 auto;
  }
}

.patreon-logo {
  display: block;
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
  image-rendering: crisp-edges;
}

.textPeet {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

#news {
  @media screen and (min-width: 700px) {
    margin-top: 0;
  }
}